<div class="bg-fundo"></div>
<h1 class="title">Movimento do Pé-de-Pano</h1>

<p class="description">
    "SOCORROOOO!" Grita o Pica Pau! 
    <br />Você agora é Dooley o bandido mais temido do faroeste e decide se vingar de Pica Pau, sequestrando-o enquanto estava dormindo.
    <br />porém Dooley não contava que Pica Pau possui o seu fiel amigo, Pé de Pano.
    <br />Posicione o Pé de Pano e o Pica Pau em posição que você consiga atrasar cada vez o Pé de Pano a alcançar o seu amigo.
    <br />Seleciona primeiro a posição inicial do Pé de Pano. Logo após selecione a posição do Pica Pau.
    </p>

<div class="container-vert">
    <div class="container">
        <button class="button" mat-raised-button color="primary" (click)="routeToChess(Type.BellmanFord)">Calcule o menor caminho por Bellman-Ford</button>
    </div>    
</div>
