<h1 class="title">Movimento do Cavalo</h1>

<p class="description">Seleciona primeiro a posição inicial do cavalo.
     Logo após selecione o ponto final aonde o cavalo precisa chegar</p>

<div class="container">
    <button class="button" mat-raised-button color="primary" (click)="routeToChess(Type.Dijkstra)">Calcule o menor caminho por Dijkstra</button>
</div>

<div class="container">
    <button class="button" mat-raised-button color="primary" (click)="routeToChess(Type.BellmanFord)">Calcule o menor caminho por Bellman-Ford</button>
</div>
