<mat-grid-list cols="2" rowHeight="100px">
    <mat-grid-tile>
        <button class="button" mat-raised-button color="primary" routerLink="/">Retornar</button>
    </mat-grid-tile>
    <mat-grid-tile>
        <button class="button" mat-raised-button color="primary" (click)="calculate()">Calcular o menor caminho</button>
    </mat-grid-tile>
</mat-grid-list>

<mat-grid-list cols="3" rowHeight="100px">
    <mat-grid-tile>
        <h3>Posição do Cavalo: {{ colSelected }} | {{ rowSelected }}</h3>
    </mat-grid-tile>
    <mat-grid-tile>
        <h2 *ngIf="result != 0">Menor Caminho: {{ result }} Movimento(s)</h2>
    </mat-grid-tile>
    <mat-grid-tile>
        <h3>Posição de Destino: {{ colFinalSelected }} | {{ rowFinalSelected }}</h3>
    </mat-grid-tile>
</mat-grid-list>

<div class="chess">
    <mat-grid-list cols="8" rowHeight="100px" *ngFor="let col of [8,7,6,5,4,3,2,1]">
        <mat-grid-tile
            class="house"
            *ngFor="let row of ['a','b','c','d','e','f','g','h']"
            [colspan]="1"
            [rowspan]="1"
            [style.background]="getColor(col, row)"
            (click)="selectHouse(col, row)">
            <div *ngIf="getInfoOfHouse(col, row) == Type.Blank">
                {{ col }} | {{ row }}
            </div>
            <div class="path" *ngIf="getInfoOfHouse(col, row) == Type.Path">
                {{ getPath(col, row) }}
            </div>
            <div class="path" *ngIf="getInfoOfHouse(col, row) == Type.Horse">
                {{ getPath(col, row) }}
                <img height="80px" src="../../../assets/pepano.png">
            </div>
            <div class="path" *ngIf="getInfoOfHouse(col, row) == Type.Final">
                {{ getPath(col, row) }}
                <img height="80px" src="../../../assets/picapau.png">
            </div>
        </mat-grid-tile>
      </mat-grid-list>
</div>